.d1
{
    margin-top: 10px;
}
.d1Left
{
    float: left;
    margin-left: 250px;
}
.d1Right
{
    float: left;
    margin-left: 15px;
}
.d2
{
    margin-left: 240px;
}
.d2img>td>img
{
    margin-top: 10px;
    border-radius: 30px;
}
.d2text>td
{
    font-size: 12px
}
.d3
{
    margin-left: 200px;
    margin-top: 10px;
}
.d3bar
{
    height:20px;
    width: 75px;
    color: white;
    background-color: green;
}